header {
  width: 100%;
  background: #5e606c;
  height: auto;
}
body {
  width: 100%;
  margin: 0 auto;
}
.mg50 {
  margin: 0 10%;
}
.clear60 {
  clear: both;
  height: 60px;
}
.clear40 {
  clear: both;
  height: 40px;
}
.clear20 {
  clear: both;
  height: 20px;
}
.clear10 {
  clear: both;
  height: 10px;
}

.warpper {
  width: 100%;
  background: #ffffff;
  position: relative;
}

.header-logo a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 35px;
  font-weight: 700;
  font-family: "Lemon", cursive;
  letter-spacing: 2px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid #11111166;
}

.tofixed {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff99;
  animation: showfixed 1s ease-in-out 1 forwards;
  z-index: 9999999;
}
@keyframes showfixed {
  from {
    top: -200px;
  }
}

.nav__item-top {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.nav__item-top i {
  margin: 0px 10px;
}

.nav__list {
  display: flex;
  align-items: center;
  height: 60px;
}

.nav__item {
  text-align: start;
  padding: 0 25px;
}

.nav__item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 20px 0px;
  position: relative;
  text-transform: uppercase;
}

.nav__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0px;
  background-color: rgb(0, 0, 0);
  transition: height 0.15s ease-in-out;
}

.nav__item a:hover::after {
  height: 2px;
}

.contact-search {
  position: absolute;
  top: 45%;
  right: 10%;
}
.subnav {
  position: sticky;
  bottom: 0;
  top: 60px;
}
.nav_title {
  margin: 0px 30px;
}
.nav_item {
  display: inline-block;
  margin: 0px 30px;
}

.nav__item-page-dropdow,
.nav__item-features-dropdow {
  position: absolute;
  top: 100%;
  background-color: #ffffff;
  left: 0;
  right: 0;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  border-top: 1px solid #eee;
  height: 400px;
}

.nav__item-page:hover .nav__item-page-dropdow,
.nav__item-features:hover .nav__item-features-dropdow {
  visibility: visible;
  opacity: 1;
}

.tabcontent,
.tabcontent-1 {
  display: none;
}

.page-dropdow-container,
.features-dropdow-container {
  width: 1000px;
  margin-top: 50px;
  margin-left: 100px;
}

.features-dropdow-list {
  width: 100%;
  font-family: futura-pt, FuturaStd-Medium, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  font-weight: bold;
}

.features-dropdow-main {
  background-color: #5e606c;
}

.features-dropdow-list li {
  padding: 20px 15px;
  cursor: pointer;
  position: relative;
}

.features-dropdow-list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100px;
  background-color: rgb(0, 0, 0);
  transition: height 0.15s ease-in-out;
}

.features-dropdow-list li:hover::after {
  height: 2px;
}

.features-dropdow-main-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-dropdow-main-right-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #111111;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.3;
  text-align: start;
  font-weight: 600;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: #bbdefb;
  position: relative;
  overflow: hidden;
}
.hero h1 {
  font-size: 6em;
  margin: 0 90px;
  text-align: center;
}

.subnav {
  background: #fff;
  border-bottom: 1px solid #222;
}
.subnav_container {
  align-items: baseline;
  display: flex;
  margin: 0 60px;
  padding: 15px 0;
}
.subnav_title {
  font-size: 1.25em;
}
.subnav_list {
  margin: 0 15px;
}
.subnav_item {
  display: inline-block;
  margin: 0 8px;
  padding: 5px;
}

.section {
  max-width: 900px;
  margin: 60px auto;
  padding: 90px 30px;
  background-color: #ffcdd2;
  text-align: center;
}
.section h2 {
  font-size: 3em;
  margin-bottom: 15px;
}
.section h2 p {
  line-height: 1.625em;
  margin: 0 auto;
  max-width: 480px;
}

.nav-slider img {
  width: 100%;
}

.search-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
}

.search-wrap.active {
  z-index: 99999999;
  opacity: 1;
  visibility: visible;
}

.search-wrap,
.search-wrap > .container > .row {
  height: 100vh;
}

.search-wrap .close-search {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0.3;
  transition: 0.3s opacity ease;
}

.search-wrap .close-search:hover {
  opacity: 1;
}

.search-wrap .close-search > span {
  display: inline-block;
  text-indent: -99999px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.search-wrap .close-search > span:before,
.search-wrap .close-search > span:after {
  content: "";
  width: 45px;
  height: 2px;
  position: absolute;
  background: #000;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center center;
}

.search-wrap .close-search > span:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.search-wrap .close-search > span:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.search-wrap input[type="search"],
.search-wrap input[type="text"] {
  height: 70px;
  width: 100%;
  padding: 20px 40px;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  text-align: center;
  border: none;
  border-bottom: 1px solid #efefef;
}

.search-wrap input[type="search"]:active,
.search-wrap input[type="search"]:focus,
.search-wrap input[type="text"]:active,
.search-wrap input[type="text"]:focus {
  outline: none;
}

.search-wrap .heading {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  text-align: center;
}

.search-wrap.dark {
  background: #000;
}

.js-search-toggle {
  color: #000000;
  transition: 0.2s;
  font-size: 20px;
}
